h1 {
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

p {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

h2 {
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


form{
    display: table;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

form input{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin: 10px 15px 10px 0px;
    border: 5px solid blue;
    border-radius: 10px;
}